h1{
 color: brown;
 background: #aaaaaa;
}

p.parrafo{

    color:#adadad;
    background-color: black;

}
.verde{
    text-decoration: underline;
}
.negro{
    color: black;
}
#interior{
    color: aquamarine;
    background-color: chartreuse;
}
[data-hackabos]{
    color:red;
}
/* Si el atributo tiene más de un valor tenemos que utilizar esta fórmula */
[data-etiquetas~="css"]{
    text-decoration: underline;
    font-size: 2rem;
}
[data-hackabos="3"]{
    color:green;
}

/* Selecciona los que terminan por to */
li[data-nome$="to"]
{
    color: crimson;

}
/* Selecciona los que comiencen por Ber */
li[data-nome^="Ber"]{
 color: blue;
}
/* Selecciona los que contengan  */
li[data-nome*="e"]
{
    color:grey;

}

a[href^="https:"]{
    color: green;
    font-weight: 700;
    
   }

blockquote[lang]{

    text-decoration:underline;
    color: beige;
}

/* Un selector + un bloque con Propiedad y valor es una regla de css 


Selectores simples (etiqueta, clase, id)
por atributo [] y por atributo valor
pseudo-clases
pseudo-elementos

*/