
a{
    color: black;
    
    padding: 5px 10px;
    line-height: 20px;
}
a:visited{
    color: black;
    background-color: darkslategrey;
}

a:hover{
    color:green;
    font-size: 1.3rem;
}

input[type="checkbox"]{
    margin-left: 1rem ;
    background-color: chocolate;
    box-shadow: 2rem;
}

input[type="checkbox"]:checked{
margin-left: 5rem;
box-shadow: 5rem;
}

/* Seleccionamos elementos por su posicion */

.segundo li:first-child{

    background: orangered;

}

.segundo li:last-child{
    background: greenyellow;
}

.segundo li:nth-child(2){
    background: royalblue;
}
/* impares */
li:nth-child(odd){
background: yellow;
}
/* pares */
li:nth-child(even){
 background: teal;

}
/* Hay otra para que lo aplique desde un punto */


/* todos menos el primero */

li:not(:first-child){
    background: orange;
}

li:not(.unaclase){
    font-size: 1.5rem;
}

/* pseudo-elementos */

#elementos h2{
    color: blue;
    font-size: 2rem;
}

#elementos h2::first-letter{
    color: brown;
    font-size: 3rem;
}
#elementos p{
    font-size: 1.5rem;
}
#elementos p::first-line{
    font-size: 3rem;
}

#elementos p::selection{
    background: red;
    color: white;
}

.segundo a[href^="http"]::after{
    content: ' ...click para ver';
    color: blueviolet;
}

.segundo a[href^="http"]::before{
    content: 'Click para ver... ';
    color: blueviolet;
}